<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Laila|Roboto" rel="stylesheet">

  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <label class="notice"><%= notice %></label>
    <label class="alert"><%= alert %></label>
  <div class="container">
    <%= yield %>

<p style="text-align: center;" class="text-white align-bottom mt-5"><%= copyright_generator %></p>
  </div>  
  </body>
</html>
